<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a style="color: white; text-decoration: none;" href="http://localhost:4200/home">INADISA </a>
        <button mat-button [matMenuTriggerFor]="PRODUCTOS" style=transform:translateX(35px);color:white;>PRODUCTOS
            &#9660;</button>
        <mat-menu #PRODUCTOS="matMenu">
            <a mat-menu-item ="Arrancadores" href="http://localhost:4200/home/arrancadores">Arrancadores </a>
            <a mat-menu-item ="Condensadores" href="http://localhost:4200/home/condensadores">Condensadores</a>
            <a mat-menu-item ="Balastos" href="http://localhost:4200/home/balastos">Balastos</a>
            <button mat-menu-item ="fotoceldas">Fotoceldas</button>
            <button mat-menu-item ="Bases">Bases</button>
            <button mat-menu-item ="Drivers">Drivers</button>
            <button mat-menu-item ="dps">DPS</button>
            <button mat-menu-item ="Transformadores">Transformadores</button>
            <button mat-menu-item ="offgrid">Sistema OFF GRID </button>
        </mat-menu>  
        <div class="example-button-row" style="transform: translateX(1100px);">
            <span class="example-fill-remaining-space"></span>
            <span mat-raised-button style="font-size: initial;"
            matTooltip="Administrador;  
            Edad 22 años;
            Test AppInadisa">Camilo Lopez</span>
        </div>
        <mat-divider role="separator" aria-orientation="vertical"></mat-divider>
        <button mat-button style="transform: translateX(1130px);"> SALIR </button>

        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>