<app-navbar></app-navbar>
<div class="container" style="background-color: #adadad5d;">
    <mat-card role="region" role="group" tabindex="0">
        <mat-card-header>
            <mat-card-title> ARRANCADORES </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/impulsadores.png" alt="Arrancador Impulsador">
        <mat-card-actions>
            <a mat-raised-button  href="http://localhost:4200/formulario"> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> CONDENSADORES </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/condensador.png" alt="condensador">
        <mat-card-actions>
            <a mat-raised-button  href="http://localhost:4200/home/condensadores"> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> BALASTOS </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/Balasto.png" alt="balasto">
        <mat-card-actions>
            <a mat-raised-button  href="http://localhost:4200/home/balastos"> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> FOTOCELDAS </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/Fotocontrol.png" alt="fotocontrol">
        <mat-card-actions>
            <a mat-raised-button  routerLink="."> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> BASES </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/Base.png">
        <mat-card-actions>
            <a mat-raised-button  routerLink="."> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> DRIVERS </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/Driver.png" alt="driver">
        <mat-card-actions>
            <a mat-raised-button  routerLink="."> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> DPS (Protector) </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/dps.png" alt="dps">
        <mat-card-actions>
            <a mat-raised-button  routerLink="."> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> TRANSFORMADORES </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/transformador.png">
        <mat-card-actions>
            <a mat-raised-button  routerLink="."> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
    <mat-card tabindex="0">
        <mat-card-header>
            <mat-card-title> SISTEMA OFF GRID </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img mat-card-image src="../../../assets/grid.png" alt="grid">
        <mat-card-actions>
            <a mat-raised-button  routerLink="."> Generar formulario &raquo;</a>
        </mat-card-actions>
    </mat-card>
</div>