<div class="loginComponent">
    <mat-card class="example-card" style= width:290px;>
        <mat-card-header>
              <img mat-card-image src='../../../../assets/Inadisa.png' style="margin-right: 20px; border-radius: 50%; transform: translateY(-45px);">
        </mat-card-header>
        <mat-card-content style="margin-top: -45px;">
            <mat-form-field>
                <input  matInput placeholder="Usuario" [(ngModel)]="User" name="User">
            </mat-form-field>
            <mat-form-field style="display: table-row-group;">
                <input  matInput  placeholder="Contraseña" type="password" [(ngModel)]="Password" name="Password">
            </mat-form-field>
            <div class="botton" style="margin-top: 20px;">
                <a mat-raised-button (click)="login()" color="accent">Ingresar &raquo;</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<app-progress-spiner *ngIf="isLoading"></app-progress-spiner>