<app-navbar></app-navbar>
<div class="contaierModule" style="background-color:  #adadad5d; height: 1200px;">
  <mat-card class=arrancador>
    <mat-card-header>
      <mat-card-title> ARRANCADORES </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <a mat-raised-button routerLink="."> Formulario Impulsador &raquo;</a>
      <a mat-raised-button routerLink="."> Formulario Paralelo &raquo;</a>
      <a mat-raised-button routerLink="."> Formulario Superposición &raquo;</a>
    </mat-card-content>
    <img mat-card-image src="../../../../assets/choose.png" alt="choose">
  </mat-card>
</div>