<section class="footer">
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
                <mat-icon fab icon="facebook"></mat-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
                <mat-icon fab icon="twitter"></mat-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
                <mat-icon fab fab icon="google-plus"></mat-icon>
            </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
                <mat-icon fab icon="linkedin"></mat-icon>
            </a>
        </li>
    </ul>
    <span>&copy; Copyright 2020 <strong> INADISA </strong> Todos los derechos reservados.</span>
</section>