<app-navbar></app-navbar>
<div class="contaierModule" style="background-color:  #adadad5d; height: 1200px;">
  <mat-card class=balasto>
    <mat-card-header>
      <mat-card-title> BALASTOS </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <a mat-raised-button href="http://localhost:4200/formulariothreetap"> Formulario  Reactor ThreeTAP &raquo;</a>
      <a mat-raised-button routerLink="."> Formulario  CWA &raquo;</a>
      <a mat-raised-button routerLink="."> Formulario  DOBLE POTENCIA &raquo;</a>
    </mat-card-content>
    <img mat-card-image src="../../../../assets/choose.png" alt="choose">
  </mat-card>
</div> 

