/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html  { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-focused .placeholder {
    color: #00D318;
}

.mat-form-field-wrapper{
    padding: 3% 3% 8% 3%;
    background: #f2f7f700;
    border-radius: 10px;
    width: 100%;
    max-width: 91%;
}
mat-form-field {
    margin-bottom: 8px;
    width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    color: black;
    width: 93%;
    height: 2px;
}

.mat-form-field-flex{
    width: 290px !important;
}

.ng-tns-c3-0 .ng-star-inserted{
    font-size: 15px;
}

.containerModule{
    height: 100vh;
    background-color: rgba(61, 75, 151, 0.829);
}