.mat-card{
    text-align: -webkit-center; 
    box-shadow: 0px 2px 10px;
    width: 80%;
    max-width: 100%;
    margin: 4% 7% 4% 10%;
    overflow-y: auto;
    height: 610px !important;
    max-height: 604px !important;
    border-radius: 15px;
    padding: 18px !important;
}
.mat-divider{
    border:groove 2px !important; 
    position: unset !important
}
.mat-radio-bottom{
    background-color: #3F51B5 !important;
    color: white;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.mat-form-field-underline {
    color: black;
    width: 330px ;
    height: 2px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.example-h2 {
    margin: 10px;
}
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 0 10px;
}



.mat-list-base{
    display: table;
    text-align: initial;
    width: 280px;
}

.mat-card-subtitle{
    font-size: 16px;
    color: #3F51B5
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel{ 
    background-color: #E1E1E1;
}

.mat-card-title{
    margin-bottom:30px;
    font-size: 20px;
}

.example-h2{
    margin-top: 20px !important;
    display: flex;
    font-size: 16px;
}

.mat-list-option{
    border: solid 1px;
    border-color: gainsboro;
}


.mat-elevation-z8{
    background-color: #e1e1e138; 
    box-shadow: -3px 1px 5px 0px #00000047;
    width: 970px;
    display: inline-block; 
    border:solid 1px #0000004a;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom: none !important;
}

.mat-raised-button{
    background-color: #3F51B5;
    color: white;
}

.mat-header-row{
    background-color: gainsboro; 
     width: 970px;
    display: flex;
}

.mat-cell{
    display: grid;
}

.mat-elevation-z7{
    background-color: #e1e1e138; 
    box-shadow: -3px 1px 5px 0px #00000047;
    width: 410px;
    display: block !important;
    margin-left: 100px;
}

.mat-row{  
    width: 970px;
    padding-left: 10px;
    padding-right: 10px; 
}

.mat-elevation-z7 .mat-header-row{
    width: 410px;
}

.mat-elevation-z7 .mat-row{
    width: 410px;
}

.mat-table .mat-elevation-z6{
    width: 410px;
}
.mat-elevation-z6 .mat-header-row {
    width: 410px;
}

.mat-elevation-z6 .mat-row {
    width: 410px;
    background-color: #F3F3F3; 
}


// .mat-form-field-wrapper{
//     width: 275px;
//     transform: translate(320px, -265px);
// }