<app-navbar></app-navbar>
<mat-card class="contact-card">
    <mat-card-header>
        <mat-card-title>ARRANCADOR</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    TIPO
                </mat-panel-title>
                <mat-icon>add_circle</mat-icon>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Código del arrancador</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">SIGUIENTE</button>
            </mat-action-row>
        </mat-expansion-panel>
        <br>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Tamaño de Lote</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Semana</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Fabricacion</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Muestras</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Muestras Electricas</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Muestras Mecanicas</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-header>
            <mat-card-title>CLASE</mat-card-title>
        </mat-card-header>
        <tr>
            <td style="padding-left: 35px;">
                <mat-card-header>
                    <mat-card-subtitle>Mecánica.</mat-card-subtitle>
                </mat-card-header>
                <mat-selection-list #Toppings>
                    <mat-list-option *ngFor="let topping of toppingList">
                        {{topping}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
            <td style="padding-left: 240px;">
                <mat-card-header>
                    <mat-card-subtitle>Eléctrica.</mat-card-subtitle>
                </mat-card-header>
                <mat-selection-list #Toppings>
                    <mat-list-option *ngFor="let topping of toppingList">
                        {{topping}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
        </tr>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-header>
            <mat-card-title> INSPECCIÓN MECÁNICA </mat-card-title>
        </mat-card-header>
        <br>
        <tr>
            <td style="padding-right: 15px;">
                <mat-card-header>
                    <mat-card-subtitle>Empaque</mat-card-subtitle>
                </mat-card-header>
                <mat-selection-list #Empaque>
                    <mat-list-option *ngFor="let Empaque of EmpaqueList">
                        {{Empaque}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
            <td style="padding-right: 15px;">
                <mat-card-header>
                    <mat-card-subtitle>Producto</mat-card-subtitle>
                </mat-card-header>
                <mat-selection-list #Producto>
                    <mat-list-option *ngFor="let Producto of ProductoList">
                        {{Producto}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
            <td style="padding-right: 15px;">
                <mat-card-header>
                    <mat-card-subtitle>Terminales</mat-card-subtitle>
                </mat-card-header>
                <mat-selection-list #Terminales>
                    <mat-list-option *ngFor="let Terminales of TerminalesList">
                        {{Terminales}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
        </tr>
        <br>
        <mat-card-title class="example-h2">RESULTADO INSPECCION MECÁNICA</mat-card-title>
        <mat-radio-group class="example-section">
            <mat-radio-button value="1">ACEPTADO</mat-radio-button>
            <mat-radio-button value="2">RECHAZADO</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <mat-card-header>
        <mat-card-title>INSPECCIÓN ELÉCTRICA</mat-card-title>
    </mat-card-header>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Balasto de Prueba</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Tipo Arrancador</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Tensión de Prueba[V]</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Máximo Pico [Kv]</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Mínimo Pico[Kv]</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <br>
        <mat-table #table [dataSource]="myDataArray" class="mat-elevation-z8">
            <ng-container matColumnDef="Muestras">
                <th mat-header-cell *matHeaderCellDef>Muestras</th>
                <td mat-cell *matCellDef="let user; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="Maximopicopositivo">
                <mat-header-cell *matHeaderCellDef>Máximo Pico Positivo[Kv]</mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div> {{user.Maximopicopositivo}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Minimopiconegativo">
                <mat-header-cell *matHeaderCellDef> Mínimo Pico Negativo[Kv] </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div> {{user.Minimopiconegativo}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pulsemiciclo">
                <mat-header-cell *matHeaderCellDef> Pulso por Semiciclo </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div> {{user.pulsemiciclo}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pulciclo">
                <mat-header-cell *matHeaderCellDef> Pulso por Ciclo </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div> {{user.pulciclo}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ton">
                <mat-header-cell *matHeaderCellDef> Tensión ON [V] </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div> {{user.ton}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="toff">
                <mat-header-cell *matHeaderCellDef> Tensión Off [V] </mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div> {{user.toff}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
                <th mat-cell *matCellDef="let user">
                    <button mat-stroked-button matTooltip="Click para editar" color="Accent" (click)="openDialog('Update', user)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-stroked-button  matTooltip="Click para eliminar" color="warn" (click)="openDialog('Delete', user)"> 
                        <mat-icon>delete</mat-icon>
                    </button>
                </th>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let dataSource; columns: columnsToDisplay;"></mat-row>
        </mat-table>
        <br>
        <p style="display: table; margin-left: 155px;">
            <!-- <mat-form-field apparence="legacy">
                <mat-label>No</mat-label>
                <input matInput [(ngModel)]="newUser.No" type="text" name="newNo" id="newNo"
                    class="form-control">
            </mat-form-field> -->
            <tr>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Máximo Pico Positivo[Kv]</mat-label>
                        <input matInput [(ngModel)]="newUser.Maximopicopositivo" type="text"
                            name="newMaximopicopositivo" id="newMaximopicopositivo" class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Mínimo Pico Positivo[Kv]</mat-label>
                        <input matInput [(ngModel)]="newUser.Minimopiconegativo" type="text"
                            name="newMinimopiconegativo" id="newMinimopiconegativo" class="form-control">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Pulso por Semiciclo</mat-label>
                        <input matInput [(ngModel)]="newUser.pulsemiciclo" type="text" name="newpulsemiciclo"
                            id="newpulsemiciclo" class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Pulso por ciclo</mat-label>
                        <input matInput [(ngModel)]="newUser.pulciclo" type="text" name="newpulciclo" id="newpulciclo"
                            class="form-control">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Tensión ON [V]</mat-label>
                        <input matInput [(ngModel)]="newUser.ton" type="text" name="newton" id="newton"
                            class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Tensión Off [V]</mat-label>
                        <input matInput [(ngModel)]="newUser.toff" type="text" name="newtoff" id="newtoff"
                            class="form-control">
                    </mat-form-field>
                </td>
            </tr>
        </p>
        <button mat-raised-button type="button" (click)="addName()"
            style="color: Accent;margin-bottom: 10px;">Registrar</button>
        <!-- <table mat-table>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="Maximopicopositivo">
            <th mat-header-cell> Máximo Pico Positivo [Kv] </th>
            <input matInput>
            <td mat-cell *matCellDef="let element">{{element.Maximopicopositivo}}</td>
        </ng-container>
        <ng-container matColumnDef="Minimopiconegativo">
            <th mat-header-cell> Máximo Pico Negativo [Kv] </th>
            <input matInput>
            <td mat-cell *matCellDef="let element">{{element.Minimopiconegativo}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->
        <br>
    </form>
    <mat-divider></mat-divider>
    <br>
    <mat-card-header>
        <mat-card-title>ANCHO DE PULSOS</mat-card-title>
    </mat-card-header>
    <form class="ancho-form">
        <table class="example-full-width" cellspacing="1" style="display: initial;">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Ancho Total</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Medido a </mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-header>
            <mat-card-title>MEDIDA ANCHO DE PULSOS</mat-card-title>
            <mat-card-subtitle>Muestra Máximo Pico positivo</mat-card-subtitle>
        </mat-card-header>
        <br>
        <tr style="display: initial;">
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Muestra No</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Número de Pulsos </mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z7" style="margin-left: 85px;">
            <ng-container matColumnDef="pulsos">
                <th mat-header-cell *matHeaderCellDef> Pulsos </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="picokv">
                <mat-header-cell *matHeaderCellDef>Pico[Kv]</mat-header-cell>
                <mat-cell *matCellDef="let user1">
                    <div> {{user1.picokv}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="anchoms">
                <th mat-header-cell *matHeaderCellDef>Ancho [ms]</th>
                <td mat-cell *matCellDef="let user1">
                    <div> {{user1.anchoms}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
                <th mat-cell *matCellDef="let user1" style="width: 130px;">
                    <button mat-stroked-button color="Primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-stroked-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </th>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay1"></mat-header-row>
            <mat-row *matRowDef="let dataSource; columns: columnsToDisplay1;"></mat-row>
        </mat-table>
        <br>
        <p>
            <tr style="display: initial">
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Pico [Kv]</mat-label>
                        <input matInput [(ngModel)]="newUser1.picokv" type="text" name="newpicokv" id="newpicokv"
                            class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Ancho [Ms]</mat-label>
                        <input matInput [(ngModel)]="newUser1.anchoms" type="text" name="newanchoms" id="newanchoms"
                            class="form-control">
                    </mat-form-field>
                </td>
            </tr>
            <!-- <p>La suma de los dos valores es:{{resultado}}</p>    -->
        </p>
        <button mat-raised-button type="button" (click)="addPulse()"
            style="color: Accent; margin-bottom: 10px;">Registrar</button>
        <!-- <button mat-raised-button color="primary" (click)="sumar()">Sumar</button> -->
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-header>
            <mat-card-subtitle>Muestra Mínimo Pico Negativo</mat-card-subtitle>
        </mat-card-header>
        <tr style="display: initial;">
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Muestra No</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Número de Pulsos </mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
        <mat-table #table [dataSource]="dataSource2" class="mat-elevation-z6" style="margin-left: 85px; width: 410px;">
            <ng-container matColumnDef="pulsos1">
                <th mat-header-cell *matHeaderCellDef> Pulsos </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="picokv1">
                <mat-header-cell *matHeaderCellDef>Pico[Kv]</mat-header-cell>
                <mat-cell *matCellDef="let user2">
                    <div> {{user2.picokv1}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="anchoms1">
                <th mat-header-cell *matHeaderCellDef>Ancho [ms]</th>
                <td mat-cell *matCellDef="let user2">
                    <div> {{user2.anchoms1}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
                <th mat-cell *matCellDef="let user2" style="width: 130px;">
                    <button mat-stroked-button color="Accent" >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-stroked-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </th>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay2"></mat-header-row>
            <mat-row *matRowDef="let dataSource2; columns: columnsToDisplay2;"></mat-row>
        </mat-table>
        <p>
            <tr style="display: initial;">
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Pico [Kv]</mat-label>
                        <input matInput [(ngModel)]="newUser2.picokv1" type="text" name="newpicokv1" id="newpicokv1"
                            class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field apparence="legacy">
                        <mat-label>Ancho [Ms]</mat-label>
                        <input matInput [(ngModel)]="newUser2.anchoms1" type="text" name="newanchoms1" id="newanchoms1"
                            class="form-control">
                    </mat-form-field>
                </td>
            </tr>
            <!-- <p>La suma de los dos valores es:{{resultado}}</p>    -->
        </p>
        <button mat-raised-button type="button" (click)="addPulseMin()" style="color: Accent;">Registrar</button>
        <br>
    </form>
    <br>
    <mat-divider></mat-divider>
    <br>
    <form>
        <tr style="width: 200px; background-color: gainsboro; box-shadow: 0px 2px 10px;transform: translateX(-235px);">
            <td style="padding: 10px; border: solid 1px; border-color: #5b5b5b57">
                <mat-card-header style="border-bottom: solid 1px; border-color: #5b5b5b57">
                    <mat-card-title class="example-h2">RIGIDEZ DIELÉCTRICA</mat-card-title>
                    <mat-card-subtitle>[2U + 1000V]/60s</mat-card-subtitle>
                </mat-card-header>

                <mat-selection-list #cum>
                    <mat-list-option *ngFor="let cum of cumList">
                        {{cum}}
                    </mat-list-option>
                </mat-selection-list>
            </td>

            <td style="padding: 10px; border: solid 1px; border-color: #5b5b5b57">
                <mat-card-header style="border-bottom: solid 1px; border-color: #5b5b5b57">
                    <mat-card-title class="example-h2">RESISTENCIA DE AISLAMIENTO</mat-card-title>
                    <mat-card-subtitle>[500VDc]/2M&Omega;</mat-card-subtitle>
                </mat-card-header>

                <mat-selection-list #cum>
                    <mat-list-option *ngFor="let cum of cumList">
                        {{cum}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
        </tr>
        <br>
        <tr style="background-color: #DCDCDC; box-shadow: 0px 2px 10px;transform: translate(265px, -187px);">
            <td style="padding:10px; border: solid 1px; border-color: #5b5b5b57">
                <mat-card-header>
                    <mat-card-title>ENCENDIDO DE BOMBILLA</mat-card-title>
                </mat-card-header>
                <mat-radio-group>
                    <mat-selection-list #cum>
                        <mat-list-option *ngFor="let cum of cumList">
                            {{cum}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-radio-group>
            </td>
        </tr>
        <br>
        <tr style="background-color: #DCDCDC; box-shadow: 0px 2px 10px;transform: translate(-235px, -165px);">
            <td style="padding:10px; border: solid 1px; border-color: #5b5b5b57; width: 583px;">
                <mat-card-header>
                    <mat-card-title>BURNING TEST RACK</mat-card-title>
                    <mat-form-field>
                        <mat-label>Muestras</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-card-header>
                <mat-selection-list #rack>
                    <mat-list-option *ngFor="let rack of rackList">
                        {{rack}}
                    </mat-list-option>
                </mat-selection-list>
            </td>
        </tr>
        <mat-form-field class="example-obser" style="width: 315px; transform: translate(270px, -385px);">
            <mat-label>OBSERVACIONES</mat-label>
            <textarea style="background-color: blanchedalmond;" matInput
                placeholder="Distribución en el Peru SAA"></textarea>
        </mat-form-field>
        <td mat-card-header
            style="transform: translate(-378px, -220px); background-color: #DCDCDC; box-shadow: 0px 2px 10px;border: solid 1px; border-color: #5b5b5b57; padding:10px">
            <mat-card-title>Se realizaron todas las pruebas...</mat-card-title>
            <mat-form-field>
                <mat-label>Muestras</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-selection-list #rack>
                <mat-list-option *ngFor="let rack of rackList">
                    {{rack}}
                </mat-list-option>
            </mat-selection-list>
        </td>
        <br>
        <td mat-card-header
            style="transform: translate(-28px, -390px);background-color: #DCDCDC;box-shadow: 0px 2px 10px;border: solid 1px; border-color: #5b5b5b57; padding:10px">
            <mat-card-title class="example-h2">RESULTADO INSPECCIÓN ELÉCTRICA</mat-card-title>
            <mat-radio-group class="example-section">
                <mat-radio-button value="1">ACEPTADO</mat-radio-button>
                <mat-radio-button value="2">RECHAZADO</mat-radio-button>
            </mat-radio-group>
    </form>
</mat-card>